<h3>Create an account</h3>

<form [formGroup]="authForm" class="ui form" (ngSubmit)="onSubmit()">
  <app-input inputType="text" label="Username" [control]="authForm.get('username')"></app-input>
  <app-input inputType="password" label="Password" [control]="authForm.get('password')"></app-input>
  <app-input inputType="password" label="Password Confirmation" [control]="authForm.get('passwordConfirmation')">
  </app-input>
  <div *ngIf="authForm.get('password')?.touched &&
  authForm.get('passwordConfirmation')?.touched && authForm.errors" class="ui red basic label">
    <p *ngIf="authForm.errors?.['passwordsDontMatch']">Passwords must match!</p>
  </div>
  <p *ngIf="authForm.errors?.['noConnection']">No connection, please connect!</p>
  <div>
    <button class="ui submit button primary">Submit</button>
  </div>
  <!-- <div class="field">
    <label>Username</label>
    <input type="text" formControlName="username">
  </div>
  {{authForm.get('username')?.errors | json}}
  <div class="field">
    <label>Password</label>
    <input type="text" formControlName="password">
  </div>
  {{authForm.get('password')?.errors | json}}
  <div class="field">
    <label>Confirm password</label>
    <input type="text" formControlName="passwordConfirmation">
  </div>
  {{authForm.get('passwordConfirmation')?.errors | json}}
  <button class="ui submit button primary">Submit</button>
  {{authForm.errors | json}} -->


</form>
